<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('links') %></h3>
    <div class="widget">
        <span>
            <a href="http://www.zuoyanyouwu.com/">左言右午的日常</a>
        </span>
        <br/>
        <span>
            <a href="http://attitude.mixjuice.me/">Mixjuice's Notes</a>
        </span>
    </div>
  </div>
<% } %>
